<div class="content container">
	<div class="row message">
		<div class="col-xs-10 col-xs-offset-1" style="min-width: 300px;">
			<div class='alert alert-success'>
				<%= content_tag :div, @message, :id => "flash_success" %>
			</div>
		</div>
	</div>
</div>