footer{
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid #eaeaea;
   color: #777;

   a{
      color: #222;
   }

   a:hover{
      color: #222;
   }

   small{
      float: left;
   }

   ul{
      float: right;
      list-style: none;

      li{
         float: left;
         margin-left: 15px;
      }
   }
}