#navbar-brand{
   color:black;
   font-size:35px;
   font-weight:bold;
   margin-top: -6px;
}

.navbar{
   margin-top: -8px;
   height: 67px;
}

.navbar-nav>li>a {
   color: black !important;
   font-size: 19px;
}

.navbar-nav a:hover{
   background-color: white;
}

.navigation-text{
   padding: 18px !important;
   padding-top: 11px !important;
}

#mainNav{
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.3s;
}