$navbar-background-color: rgba(255, 255, 255, 0.87);

#navbar-brand{
   color:black;
   font-size:35px;
   font-weight:bold;
   margin-top: -6px;
}

.navbar{
   margin-top: -8px;
   height: 67px;
}

.navbar-nav>li>a {
   color: black !important;
   font-size: 19px;
}

.navbar-nav a:hover{
   background-color: white;
}

.navigation-text{
   padding: 18px !important;
   padding-top: 11px !important;
}

#mainNav{
   -webkit-transition:background 0.3s;
   -moz-transition:background 0.3s;
   -o-transition:background 0.3s;
   transition:background 0.3s;
}

.collapsing, .collapse.show{
   background-color: $navbar-background-color;
}
