#navbar-brand{
   color:black;
   font-size:35px;
	font-weight:bold;
}

.navbar{
   margin-top: -15px;
}

.navbar-nav>li>a {
   color: black !important;
   font-size: 19px;
}

.navbar-nav a:hover{
   background-color: white;
}

.navigation-text{
   padding: 18px !important;
}

#mainNav{
   -webkit-transition:background 0.3s;
   -moz-transition:background 0.3s;
   -o-transition:background 0.3s;
   transition:background 0.3s;
}