.content{
   padding-top: 60px;
}

#start-section-1{
   background-image: asset_url("start-background.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center-right;
   height: 500px;
   width: 100%;
}

#start-section-2{
   background-color: #DBDBDB;
   padding: 100px;
   //height: 200px;
}

#start-section-3{
	background-color: #AEC9A5;
   padding: 100px;
}

#start-section-4{
   background-color: rgb(103, 182, 255);
   padding: 100px;
}

#start-section-5{
   background-color: rgb(255, 194, 103);
   padding: 100px;
}

#start-text-1{
   font-size: 130%;
   font-family: 'Comic Sans MS', 'Nirmala UI', 'Helvetica';
   margin-top: 60px;
}

.start-description{
	font-size:140%;
	font-family: 'Comic Sans MS', 'Nirmala UI', Helvetica;
}

.privacy-text{
   font-size: 20px;
}