.content{
   padding-top: 60px;
}

.privacy-text{
   font-size: 20px;
}

#start-header{
	background-image: asset_url("start-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 400px;
}

.google-play-badge{
   height: 70px;
}

.microsoft-store-badge{
   height: 48px;
}

.github-badge{
   height: 50px;
}