.content{
   padding-top: 60px;
}

#start-section-1{
   background-image: asset_url("start-background.jpg");
   background-size:cover;
   background-repeat: no-repeat;
   background-position: center-right;
   height: 500px;
   width: 100%;
}

#start-section-2{
   background-color: #DBDBDB;
}

#start-section-3{
	background-color: #AEC9A5;
}

#start-section-4{
   background-color: rgb(103, 182, 255);
}

#start-section-5{
   background-color: rgb(255, 194, 103);
}

.start-section{
   padding-left: 50px;
   padding-right: 50px;
   padding-top: 90px;
   padding-bottom: 90px;
}

#start-text-1{
   font-size: 130%;
   font-family: 'Comic Sans MS', 'Nirmala UI', 'Helvetica';
   margin-top: 60px;
}

.start-description{
	font-size:140%;
	font-family: 'Comic Sans MS', 'Nirmala UI', Helvetica;
}

.privacy-text{
   font-size: 20px;
}





#start-header{
	background-image: asset_url("start-background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
   //background-position: left;
	width: 100%;
	min-height: 400px;
}