<div>
   <div class="card bg-light m-3" style="max-width: 18rem;">
      <div class="card-header"><h5><%= app.name %></h5></div>
      <div class="card-body">
         <p class="card-text"><%= app.description %></p>
      </div>
   </div>
</div>