<div class="row mt-4">
   <div class="col-sm-5 offset-1 mt-3">
      <div class="card text-center">
         <div class="card-header">
            Free
         </div>
         <div class="card-body">
            <h4 class="card-title">Free</h4>
            <p class="card-text">
               <ul class="list-group">
                  <li class="list-group-item border-left-0 border-right-0">Use all apps</li>
                  <li class="list-group-item border-left-0 border-right-0">5 GB of Storage</li>
                  <li class="list-group-item border-left-0 border-right-0">Synchronize your data across an unlimited amount of devices</li>
                  <li class="list-group-item border-left-0 border-right-0">No ads</li>
               </ul>
            </p>
            <%= link_to "Sign up", signup_path, class: "btn btn-primary" if controller.controller_name == "starts" %>
         </div>
      </div>
   </div>

   <div class="col-sm-5 offset-1 mt-3">
      <div class="card text-center">
         <div class="card-header">
            $3 per month
         </div>
         <div class="card-body">
            <h4 class="card-title">Plus</h4>
            <p class="card-text">
               <ul class="list-group">
                  <li class="list-group-item border-left-0 border-right-0">All free features</li>
                  <li class="list-group-item border-left-0 border-right-0">50 GB of Storage</li>
                  <li class="list-group-item border-left-0 border-right-0">Use all Plus features in all apps</li>
               </ul>
            </p>
            <%= link_to "Sign up", signup_path, class: "btn btn-primary" if controller.controller_name == "starts" %>
         </div>
      </div>
   </div>
</div>