<div class="container content">
   <h1 class="text-center">Contact</h1>

   <div class="mt-5" style="font-size: 18px">
      <p>
         <span class="font-weight-bold">dav Apps</span><br>
         David Zurek<br>
         Graf-Adolf-Straße 45<br>
         58730 Fröndenberg<br>
      </p>

      <p>
         +49 2373 9460596<br>
         support@dav-apps.tech
      </p>
   </div>
</div>