<div class="container-fluid" id="start-section-1">
	<div>
		<div class="content row">
			<div class="col-12 offset-1 col-md-8 offset-md-3 col-sm-12">
				<h2 id="start-text-1">Find the apps for your needs</h2>
				<button type="button" class="btn btn-secondary" style="margin-top: 5px">Sign up</button>
				<button type="button" class="btn btn-primary" style="margin-top: 5px">Find Apps</button>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid" id="start-section-2">
	<div class="row">
		<div class="col-md-6 col-sm-12" align="center">
			<%= image_tag("zeichnung.png", :height => "150px", :id => "image-zeichnung") %>
		</div>
		<div class="col-md-6 col-sm-12 start-description" id="start-description-1" align="center">
			<h2>Anything in one place</h2>
			<p>Syncronize your data across all devices</p>
		</div>
	</div>
</div>

<%= javascript_include_tag "scripts/start.js" %>