<div class="container content">
   <h1 align="center">Pricing</h1>

   <div class="row mt-4">
      <div class="col-sm-5 offset-1 mt-3">
         <div class="card text-center">
            <div class="card-header">
               Free
            </div>
            <div class="card-body">
               <h4 class="card-title">Free</h4>
               <p class="card-text">
                  <ul class="list-group">
                     <li class="list-group-item">Use all dav apps</li>
                     <li class="list-group-item">Synchronize your data across an unlimited amount of devices</li>
                  </ul>
               </p>
               <a href="#" class="btn btn-primary">Sign up</a>
            </div>
         </div>
      </div>

      <div class="col-sm-5 offset-1 mt-3">
         <div class="card text-center">
            <div class="card-header">
               $3 per month
            </div>
            <div class="card-body">
               <h4 class="card-title">Plus</h4>
               <p class="card-text">
                  <ul class="list-group">
                     <li class="list-group-item">All free features</li>
                     <li class="list-group-item">Use all Plus features in every app</li>
                  </ul>
               </p>
               <a href="#" class="btn btn-primary">Sign up</a>
            </div>
         </div>
      </div>
   </div>
</div>