<div class="container content">
   <h1 align="center">Privacy Policy</h1>

   <div class="privacy-text my-4">
      <p>The protection of your privacy is very important for us. This is the reason why we collect as less data as possible.
         This page is intended to inform you what information we collect and how we use that information.</p>
      <br>
      <h3>Data collection and use</h3>
      <p>We use tools to estimate when and how often our services are used. For example, when you visit our website, we save the time of your visit.
         However, this data cannot be associated with certain users.</p>
      <br>
      <h3>Information you provide</h3>
      <p>When you use our services you will be asked to provide specific information about you, like your email address. 
         We only ask you for the information that is really necessary to provide our services.</p>
      <br>
      <p>No data we have about you will be evaluated or sold to third parties. 
         All information you provide us within our apps is securely stored and can be deleted and viewed by you at any time.</p>
      <p>You can download, view and delete all of your data in the settings of your account.</p>
      <br>
      <h3>Security</h3>
      <p>We value your trust in providing us your Personal Information, 
         thus we are striving to use commercially acceptable means of protecting it. 
         But remember that no method of transmission over the internet, 
         or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
      <br>
      <br>
      <p>These rules apply to all our apps and our website. If specific cases apply 
      to certain apps or services, they are listed below. If you have any questions, 
      please feel free to email us at support@dav-apps.tech</p>
      <br>
      <p>We reserve the right to change this privacy policy in the future.<br>Last updated: 28 April 2018</p>
   </div>
</div>