<div class="container content">
   <h1 align="center">Privacy Policy</h1>

   <div class="privacy-text my-4">
      <p>The protection of your privacy is very important for us. This is the reason why we collect as less data as possible.
         This page is intended to inform you what information we collect and how we use that information.</p>
      <br>
      <h3>Data collection and use</h3>
		<p>We save the following information when you visit one of our websites or web apps:</p>
		<ul>
			<li>The time</li>
			<li>The country of your IP address</li>
			<li>The name and version of your browser</li>
			<li>The name and version of your operation system</li>
		</ul>
		<p>However, we do not save the IP address, so the saved data cannot be associated with certain users.</p>
      <br>
      <h3>Information you provide</h3>
      <p>When you use our services you will be asked to provide specific information about you, like your email address. 
         We only ask you for the information that is really necessary to provide our services.</p>
			<p>All information you provide us within our apps is securely stored and can be deleted and viewed by you at any time.</p>
      <br>

		<h3>Data shared with third parties</h3>
		<p>
			In order to be able to offer our services, it is necessary that we use certain services from third parties.
			The services with which data is shared are listed below.
		</p>
		<p>
			However, these services are only used when it is necessary for our services to work. 
			Your data will not be sold or otherwise disclosed to third parties.
		</p>
		<p>
			You can download, view and delete all of your data in the settings of your account. 
			If you delete your account, all your data shared with third parties will also be deleted.
		</p>
		
		<br>
		<h4>Payments</h4>
      <p>We use <a href="https://stripe.com" target="blank" style="color: black">Stripe</a> for processing payments. 
			When you upgrade to Plus or Pro, we share your email with Stripe in order to connect your payment information with your account.
			Your payment information will be stored directly by Stripe. This means we do not have access to your payment information.
			For more information, we reference to the <a href="https://stripe.com/privacy" target="blank">Privacy Policy of Stripe</a>.
			If you do not want your data to be shared with Stripe, please stay on the free plan.
		</p>
      <br>
      <h3>Security</h3>
      <p>We value your trust in providing us your personal information, 
         thus we are striving to use commercially acceptable means of protecting it. 
         But remember that no method of transmission over the internet, 
         or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>
      <br>
      <br>
      <p>These rules apply to all our apps and our websites, including web apps and our blog. If specific cases apply 
      to certain apps or services, they will be listed below. If you have any questions, 
      please feel free to email us at support@dav-apps.tech</p>
      <br>
      <p>We reserve the right to change this privacy policy in the future.<br>Last updated: 21 July 2019</p>
   </div>
</div>