<div class="container content">
   <h1 align="center">Privacy Policy</h1>

   <div class="privacy-text mt-4">
      <p>We are convinced that everyone should have absolute control over what information they disclose 
      about themselves on the Internet and share with private companies and other institutions.
      <br>This is the reason why we do not collect user data and do not share your information with others.
      <br>We only store the information about you that you provide to us directly through our services.</p>
      
      <p>We use self-developed tools to estimate when and how often our services are used. 
      However, this data cannot be associated with certain users.
      In addition, we may also use cookies to store data locally that is 
      necessary for our services to function properly. However, we do not do this 
      to collect information about our users, but only to improve our apps and services.</p>
      
      <p>If you do not trust us and this Privacy Policy (which would be completely understandable), 
      you can view the source code of all our services on Github.</p>
   
      <p>These rules apply to all our apps and our website. If specific cases apply 
      to certain apps or services, they are listed below. If you have any questions, 
      please feel free to email us at support@dav-apps.tech</p>
      <br>
      <p>We reserve the right to change this privacy policy in the future.<br>Last updated: 10 January 2018</p>
   </div>
</div>