<div class="container content">
   <h1 align="center">All Apps</h1>

   <div class="card-group mt-4">
      <% @apps.each do |app| %>
      <div>
         <div class="card bg-light m-3" style="max-width: 18rem;">
            <div class="card-header"><h5><%= app.name %></h5></div>
            <div class="card-body">
               <p class="card-text"><%= app.description %></p>
            </div>
         </div>
      </div>
      <% end %>
   </div>
</div>