<div class="container content">
   <h1 align="center">All Apps</h1>
   <%= render 'layouts/messages' %>

   <div class="card-group mt-4">
      <% @apps.each do |app| %>
         <%= render 'shared/app-card', app: app %>
      <% end %>
   </div>
</div>