@import "styles/start";
@import "styles/navbar";
@import "styles/footer";
@import "styles/miscellaneous";

@import "font-awesome";
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";