<div class="container">
   <footer class="footer">
      <small>
         Copyright &copy; by dav.
         All rights reserved
      </small>
      <nav>
         <ul>
            <li><%= link_to "Privacy Policy", privacy_path %></li>
            <li><%= link_to "Twitter", "http://www.twitter.com/dav_apps", target: "blank" %></li>
            <li><%= link_to "v#{ENV['VERSION_NUMBER']}", "https://github.com/Dav2070/dav-apps/releases", target: "blank" %></li>
         </ul>
      </nav>
   </footer>
</div>